{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Display</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
    <h1 class="text-center text-success">Invest In</h1><hr>

    <br><br><br>

    <p class="lead text-center">Ticker Selected: {{ ticker }} </p>
    <p class="lead text-center">URL request: <a href={{ url }}>{{ url }}</a></p>
</body>
</html>