{% load crispy_forms_tags %}
{% load staticfiles %}
{% load getDictVal %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Demo Display</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<!--<body background="{% static "blackback.jpg" %}" background-size=100%>-->
<body>
    <h1 class="text-center text-primary"><a href="/investIn" style="text-decoration:none">Invest In</a></h1>
    <hr>

    <!---------- SIDE BAR ---------->
    <div class="col-md-3 col-md-offset-9" style="position:fixed">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="lead text-center"><a href="/investIn" style="text-decoration:none">Home</a></td>
                </tr>
                <tr>
                    <td class="lead text-center success"><a href="/investIn/display/{{ ticker }}" style="text-decoration:none">Summary</a></td>
                </tr>
                <tr>
                    <td class="lead text-center"><a href="/investIn/keyStats/{{ ticker }}" style="text-decoration:none">Key Stats</a></td>
                </tr>
                <tr>
                    <td class="lead text-center"><a href="/investIn/charts/{{ ticker }}" style="text-decoration:none">Charts</a></td>
                </tr>
                <tr>
                    <td class="lead text-center"><a href="/investIn/indices/" style="text-decoration:none">World Indices</a></td>
                </tr>
                <tr>
                    <td class="lead text-center"><a href="/investIn/compare/" style="text-decoration:none">Compare</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!---------- STOCK NAME AND PRICE ---------->
    <div class="col-md-6 col-md-offset-1">
        <h3 class="text-center">{{ opts|getDictVal:"n" }}</h3>
        {% if opts|getDictVal:"l1" >= opts|getDictVal:"p" %}
            <span><h2 class="text-success text-center">{{ opts|getDictVal:"l1" }}&nbsp&nbsp&nbsp<span class="lead text-center">{{ opts|getDictVal:"c1" }} &nbsp ({{ opts|getDictVal:"p2" }})</span></h2></span>
        {% else %}
            <span><h2 class="text-danger text-center">{{ opts|getDictVal:"l1" }}&nbsp&nbsp&nbsp<span class="lead text-center">{{ opts|getDictVal:"c1" }} &nbsp ({{ opts|getDictVal:"p2" }})</span></h2></span>
        {% endif %}
    </div>

    <!--<div class="col-md-6 col-md-offset-4">-->
    <div class="col-md-6 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for option in opts.optCodeList %}
                    <tr>
                        <td>{{ codeDict|getDictVal:option }}</td>
                        <td>{{ opts|getDictVal:option }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>