{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Display</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
    <h1 class="text-center text-success">Invest In</h1><hr>

    <br><br><br>

    <pre class="col-lg-4 col-lg-offset-4 text-center text-danger">Ticker selected '{{ ticker }}' does not exist</pre>

</body>
</html>