{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invest In</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!--<body background="{% static "blackback.jpg" %}" background-size=100%>-->
<body>
    <h1 class="text-center text-primary"><a href="/investIn" style="text-decoration:none">Invest In</a></h1><hr>

    <br><br><br>

    <div class="col-md-3 col-md-offset-9" style="position:fixed">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="lead text-center"><a href="/investIn/indices/" style="text-decoration:none">World Indices</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    {% block content %}
        <div class="col-lg-4 col-lg-offset-4 text-center">
                {% crispy form %}
        </div>
    {% endblock %}

</body>
</html>